


	
	a:link {color:black}
	a:visited {color:green}
	a:hover {color:red; font-size:100%;}  
	
	

hr
	{
	color:white;
	position:relative;
	top:1em;
	}

body 
	{

	}
	
table 
	{ 
	border-spacing: 2em;
	}

#header 
	{
	background-repeat: no-repeat;
	border-style: solid;
	width: 100%;
	height: 16em;  	
	background-image:url('logo2.png');
	background-position: center; 
	background-color: black;	
	color:black;
	text-align:center;
	font-size:100%;
	font-family:Times;
	 
	}


#lenker
	{
    width:10em; 
    margin: 0 auto;
	position:relative;
	right:10%;
	bottom: 12%;
	text-align:center;
	margin:auto;
	font-size:100%;
	width:70%;
	text-align:center;
	border-style:none;	
	}
	
#lenkerKarakter
	{
	position:relative;
	center;
	margin:auto;
	font-size:150%;
	width:30%;
	border-style:none;	
	}
	
#bilder1
	{
	margin:auto;
	margin-top:4%;
	font-size:105%;
	width:70%;
	text-align:center;
	position:relative;
	right:7em;
	}
#bilder2
	{
	margin:auto;
	margin-top:4%;
	font-size:105%;
	width:70%;
	text-align: center;
	position:relative;
	left:14em;
	color:white;
	}
#midt
	{
	color:black;
	font-size:120%;
	margin:auto;
	width:65%;
	position:relative;
	left:10em;
	}
#midt2
	{
	color:black;
	font-size:120%;
	margin:auto;
	width:65%;
	position:relative;
	}

#tilbake
	{
	margin-top:5%;
	text-align: center;
	color:black;
	}

#bilde
	{
	width:50%;
	margin:auto;
	margin-top:3%;
	position:relative;
	left:15%;
	}

#coppy
 	{
 	position:relative;
	top:1em;
	width:100%;
 	text-align:center;
 	color:black;
 	}
#validator
	{
	width:20%;
	position:relative;
	left:47%;
	}

#leavitt
	{
	width:40%; 
	position:relative;
	left:11em;
	}

#sideHoved
	{
	float:left;
	border-right-style: solid;
	border-color: black;
	position:relative;
	bottom:25em;
	left:1em;
	width:16%;
	}

#sideLenker
	{
	position:relative;
	bottom:10em;
	left:1em;
	width:16%;
	}

#sideOmoss
	{
	position:relative;
	bottom:10em;
	left:1em;
	width:16%;
	}

#sideQuiz
	{
	position:relative;
	bottom:10em;
	left:1em;
	width:16%;
	}
#sideQuotes
	{
	position:relative;
	bottom:10em;
	left:1em;
	width:16%;
	}
#sideKarakterer
	{
	position:relative;
	bottom:37em;
	left:1em;
	width:16%;
	}
	
#sideSesong
	{
	position:relative;
	bottom:10em;
	left:1em;
	width:16%;
	}

#sideMacGyver
	{
	position:relative;
	bottom:73em;
	left:1em;
	width:16%;
	}

#sidePeter
	{
	position:relative;
	bottom:58em;
	left:1em;
	width:16%;
	}
	
#sideMurdoc
	{
	position:relative;
	bottom:60em;
	left:1em;
	width:16%;
	}	







#karakterer
	{
	position:relative;
	right:5em;
	}
#midtKarakterer
	{
	color:black;
	font-size:120%;
	margin:auto;
	width:65%;
	position:relative;
	text-floate: left;
	}
#bildeKarakterer
	{
	width:50%;
	margin:auto;
	margin-top:3%;
	position:relative;
	left:15em;
	}
#karakerinfo1
	{
	position:relative;
	bottom:18em;
	left:2em;
	color:black;
	font-size:110%;
	}
#karakerinfo2
	{
	position:relative;
	bottom:10em;
	color:black;
	}
#karakerinfo3
	{
	position:relative;
	bottom:10em;
	color:black;
	font-size:110%;
	}
#karakerinfo5
	{
	position:relative;
	bottom:15em;
	color:black;
	}
#karakerinfo6
	{
	position:relative;
	bottom:5em;
	color:black;
	font-size:110%;
	}
#karakerinfo7
	{
	position:relative;
	bottom:15em;
	color:black;
	}
#karakerinfo8
	{
	position:relative;
	bottom:5em;
	color:black;
	font-size:110%;
	}